@font-face {
  font-family: 'SuisseIntl';
  src:  url('~@/assets/fonts/SuisseIntl.woff2') format('woff2'),
  url('~@/assets/fonts/SuisseIntl.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl-Light';
  src:  url('~@/assets/fonts/SuisseIntl.woff2') format('woff2'),
  url('~@/assets/fonts/SuisseIntl.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl-SemiBold';
  src:  url('~@/assets/fonts/SuisseIntl.woff2') format('woff2'),
  url('~@/assets/fonts/SuisseIntl.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



//@font-face {
//  font-family: 'SuisseIntl';
//  src:  url('/fonts/SuisseIntl.woff2') format('woff2'),
//  url('/fonts/SuisseIntl.woff') format('woff');
//  font-weight: normal;
//  font-style: normal;
//}

//@font-face {
//  font-family: 'SuisseIntl-Light';
//  src:  url('/fonts/SuisseIntl-Light.woff2') format('woff2'),
//  url('/fonts/SuisseIntl-Light.woff') format('woff');
//  font-weight: 200;
//  font-style: normal;
//}

//@font-face {
//  font-family: 'SuisseIntl-SemiBold';
//  src:  url('/fonts/SuisseIntl-SemiBold.woff2') format('woff2'),
//  url('/fonts/SuisseIntl-SemiBold.woff') format('woff');
//  font-weight: bold;
//  font-style: normal;
//}